#banner {
  position: relative;
  width: 100%;
  min-height: 300px;
  height: 35vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex(row);
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000c2;
    z-index: 1;
  }
  .contentContainer {
    z-index: 100;
    @include contentContainer(80vw);
    @include flex(column);
    justify-content: center;
    align-items: center;
    h4 {
      font-family: $headerFont;
      color: white;
      font-size: 3vw;
    }
    button {
      margin-top: 10px;
      padding: 10px 20px;
      background: transparent;
      border: 3px solid $blue;
      color: white;
      font-family: $headerFont;
      font-size: 20px;
      font-weight: bolder;
      border-radius: 8px;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        box-shadow: inset 190px 0px 0px 0px $blue;
      }
    }
  }
}

.one {
  background: url(../img/mission2.jpg);
}
.two {
  background: url(../img/banner2.jpg);
}

svg.svgBottom {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: 2;
  display: block;
}

svg.svgTop {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 2;
  display: block;
  margin-top: -1px;
}

.flipped {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  display: block;
}

/* desktop */
@media (max-width: 1500px) {
}

/* laptop */
@media (max-width: 1200px) {
  #banner .contentContainer h4 {
    font-size: 4vw;
    text-align: center;
  }
}
/* tablet */
@media (max-width: 980px) {
  #banner .contentContainer h4 {
    font-size: 6vw;
    text-align: center;
  }
}

/* mobile */
@media (max-width: 480px) {
  #banner .contentContainer h4 {
    font-size: 9vw;
    text-align: center;
  }
}
