#whyChooseUsContainer {
  background: $darkGrey;
  width: 100%;
  padding: 70px 0;
  #whyChooseUs {
    @include contentContainer(80vw);
    @include flex(column);
    .sectionHeadingContainer {
      @include flex(column);
      align-items: center;
      h2 {
        @include sectionHeading;
      }
      .headingUnderline {
        min-height: 4px;
        min-width: 75px;
        background: $blue;
      }
    }
    .boxContainer {
      @include contentContainer(80vw);
      @include flex(row);
      justify-content: center;
      padding-top: 30px;
      flex-wrap: wrap;

      .box {
        @include flex(column);
        min-width: 280px;
        width: 15vw;
        max-width: 360px;
        min-height: 280px;
        height: 10vw;
        max-height: 360px;
        margin: 15px 15px;
        background-color: $lightGrey;
        padding: 16px;
        transition: 0.5s;
        border: 1px solid $darkGrey;
        &:hover {
          border: 1px solid $blue;
          transform: scale(1.02);
          cursor: pointer;
        }
        .iconBox {
          @include flex(column);
          min-width: 40px;

          align-items: center;
          .icon {
            width: 60px;
            height: 60px;
            padding-bottom: 15px;

            border-radius: 100%;
            text-align: center;
            @include flex(row);
            img {
              width: 70%;
              display: block;
            }
          }
        }
        .textBox {
          @include flex(column);

          color: white;
          padding-left: 5px;
          text-align: center;
          h3 {
            font-family: $headerFont;
            font-size: 20px;
            font-weight: bolder;
            margin-bottom: 15px;
            border-bottom: 4px solid $blue;
            align-self: center;
          }
          p {
            font-family: $paraFont;
            font-size: 16px;
          }
        }
      }
    }
  }
}
