#fbPosts {
  padding-bottom: 60px;
  padding-top: 50px;
  .sectionHeadingContainer {
    @include flex(column);
    align-items: center;
    h2 {
      @include sectionHeading;
    }
    .headingUnderline {
      min-height: 4px;
      min-width: 75px;
      background: $blue;
    }
  }
  background: $darkGrey;
  font-family: $paraFont;
  .fbPostsContainer {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 20px;
    .card {
      background-image: url(../img/circuit.svg);
      background-color: #232325;
      background-size: auto 750px;
      width: 100%;
      display: flex;
      flex-direction: row;
      background-color: $lightGrey;
      padding: 20px;
      .cardMediaContainer {
        img,
        iframe {
          width: 200px;
          height: 200px;
          border: 2px solid #ffffff4a;
        }
      }
      .cardMessage {
        padding-left: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        a {
          word-break: break-all;
          color: white;
          overflow: auto;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  // .fbPostsContainer {
  //   @include contentContainer(80vw);
  //   @include flex(row);
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   padding-top: 50px;

  //   flex-wrap: wrap;
  //   align-items: center;
  //   .cardcon {
  //     display: flex;
  //     flex-direction: column;
  //     .flexgrow {
  //       flex-grow: 1;
  //     }
  //   }

  //   .card {
  //     max-width: 500px;
  //     padding: 20px;
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //     background-image: url(../img/circuit.svg);
  //     background-color: #232325;
  //     background-size: auto 750px;
  //     margin: 0 20px;
  //     margin-bottom: 20px;

  //     .cardMessage {
  //       padding: 10px;
  //       color: white;
  //       width: 100%;
  //       text-transform: capitalize;
  //       min-height: 70px;
  //       text-align: center;
  //       overflow: hidden;
  //       max-height: 70px;
  //       transition: 0.3s;
  //     }

  //     a {
  //       word-wrap: break-word;
  //       text-transform: none !important;
  //       margin-top: 5px;
  //       color: white;
  //       &:hover {
  //         color: $blue;
  //       }
  //     }
  //   }
  //   .cardMediaContainer {
  //     width: 260px;
  //     height: 260px;
  //     overflow: hidden;
  //     border: 1px solid #ffffff3b;
  //     transition: 0.5s;
  //     &:hover {
  //       border: 1px solid $blue;
  //       opacity: 0.8;
  //     }
  //     a {
  //       width: 100%;

  //       img,
  //       iframe {
  //         width: 100%;
  //         transition: 0.5s;
  //       }
  //     }
  //   }
  // }
}

@media screen and (max-width: 500px) {
  #fbPosts .fbPostsContainer .card {
    flex-direction: column;
    align-items: center;
  }

  #fbPosts .fbPostsContainer .card .cardMessage {
    padding-left: 0;
  }

  #fbPosts .fbPostsContainer {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

    max-width: 90vw;
  }
}
