#fbPosts {
  padding-bottom: 60px;
  padding-top: 50px;
  .sectionHeadingContainer {
    @include flex(column);
    align-items: center;
    h2 {
      @include sectionHeading;
    }
    .headingUnderline {
      min-height: 4px;
      min-width: 75px;
      background: $blue;
    }
  }
  background: $darkGrey;
  font-family: $paraFont;
  .fbPostsContainer {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 20px;
    .card {
      background-image: url(../img/circuit.svg);
      background-color: #232325;
      background-size: auto 750px;
      width: 100%;
      display: flex;
      flex-direction: row;
      background-color: $lightGrey;
      padding: 20px;
      .cardMediaContainer {
        img,
        iframe {
          width: 200px;
          height: 200px;
          border: 2px solid #ffffff4a;
          object-fit: cover;
          transition: 0.5s;
          &:hover {
            border-color: $blue;
            transform: scale(1.02);
          }
        }
      }
      .cardMessage {
        padding-left: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        a {
          word-break: break-all;
          color: white;
          overflow: auto;
          text-transform: lowercase;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1377px) {
  #whyChooseUsContainer #whyChooseUs .boxContainer {
    max-width: 800px;
  }
}

@media screen and (max-width: 1250px) {
  #fbPosts .fbPostsContainer {
    padding: 20px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 999px) {
  #fbPosts .fbPostsContainer .card .cardMessage {
    text-align: left;
    a {
      align-self: flex-start;
    }
  }
}

@media screen and (max-width: 500px) {
  #fbPosts .fbPostsContainer .card .cardMediaContainer img,
  #fbPosts .fbPostsContainer .card .cardMediaContainer iframe {
    width: 100%;
    height: unset;
  }

  #fbPosts .fbPostsContainer .card {
    flex-direction: column;
    align-items: center;
  }

  #fbPosts .fbPostsContainer .card .cardMessage {
    padding-left: 0;
    padding-top: 15px;
    text-align: center;
    a {
      align-self: center;
    }
  }

  #fbPosts .fbPostsContainer {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

    max-width: 90vw;
  }
}
