#fbPosts {
  padding-bottom: 60px;
  padding-top: 50px;
  .sectionHeadingContainer {
    @include flex(column);
    align-items: center;
    h2 {
      @include sectionHeading;
    }
    .headingUnderline {
      min-height: 4px;
      min-width: 75px;
      background: $blue;
    }
  }
  background: $darkGrey;
  font-family: $paraFont;
  .fbPostsContainer {
    @include contentContainer(80vw);
    @include flex(row);
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
    .cardcon {
      display: flex;
      flex-direction: column;
      .flexgrow {
        flex-grow: 1;
      }
    }

    .card {
      width: 280px;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(../img/circuit.svg);
      background-color: #232325;
      background-size: auto 750px;
      margin: 0 30px;
      .whiteSpace {
        height: 41px;
      }
      button {
        background: transparent;
        outline: none;
        text-align: right;
        border: none;
        color: $blue;
        font-size: 16px;
        padding: 10px 15px;
        font-weight: bolder;

        font-family: $headerFont;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
      }
      .cardMessage {
        padding: 10px;
        color: white;
        width: 100%;
        text-transform: capitalize;
        min-height: 70px;
        text-align: center;
        overflow: hidden;
        max-height: 70px;
        transition: 0.3s;
      }

      a {
        word-wrap: break-word;
        text-transform: none !important;
        margin-top: 5px;
        color: white;
        &:hover {
          color: $blue;
        }
      }
    }
    .cardMediaContainer {
      width: 260px;
      height: 260px;
      overflow: hidden;
      border: 1px solid #ffffff3b;
      transition: 0.5s;
      &:hover {
        border: 1px solid $blue;
        opacity: 0.8;
      }
      a {
        width: 100%;

        img,
        iframe {
          width: 100%;
          transition: 0.5s;
        }
      }
    }
  }
}

/* desktop */
@media (max-width: 1550px) {
}

/* laptop */
@media (max-width: 1200px) {
}

/* tablet */
@media (max-width: 980px) {
}

/* mobile */
@media (max-width: 849px) {
  #fbPosts .fbPostsContainer .card {
    margin-top: 20px;
  }

  #fbPosts .fbPostsContainer {
    width: 100%;
  }
}
