footer {
  padding: 20px 0;
  background-color: $lightGrey;
  text-align: center;
  color: white;
  font-size: 13px;
  font-family: $paraFont;
  #footerContainer {
    @include flex(row);
    #social {
      @include flex(row);
      a {
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: 0 5px;
      }

      svg {
        max-height: 40px;
        max-width: 40px;
        transition: 0.5s;
        box-sizing: content-box;
        display: block;
        align-self: center;
      }
    }
    .copyright {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      padding-left: 20px;
    }
  }
}

a svg .blueOnHover:hover {
  fill: $blue;
}

.dev {
  @include flex(row);
  background-color: white;
  padding: 10px 0;
  svg {
    height: 12px;
    width: auto;
  }
}

/* mobile */
@media screen and (max-width: 480px) {
  footer #footerContainer {
    flex-direction: column;
  }
  footer #footerContainer #social {
    margin-bottom: 15px;
  }

  footer #footerContainer .copyright {
    padding: 0 10px;
    text-align: center;
  }
}
/* tablet */
@media screen and (max-width: 980px) {
}
/* laptop */
@media screen and (max-width: 1200px) {
}
/* desktop */
@media screen and (max-width: 1500px) {
}
