#header {
  #logoFull {
    width: 100%;
    @include flex(row);
    background: white;
    padding: 20px 0;
    border-bottom: 1px solid $greyLine;
    img {
      width: 150px;
    }
  }
  nav {
    background: white;
    border-bottom: 1px solid $greyLine;

    #navContainer {
      @include contentContainer(80vw);
      @include flex(row);

      ul {
        display: flex;
        list-style: none;
        align-items: center;
        li {
          padding: 0 15px;
        }
      }
    }
    a {
      color: black;
      line-height: 20px;
      font-family: $headerFont;
      font-weight: bolder;
      font-size: 16px;
      &:focus {
        border: 1px solid $blue;
      }
      .headerButton {
        background-color: $blue;
        color: white;
        border: none;
        outline: none;
        padding: 10px 20px;
        font-weight: 700;
        margin: 2px 0;
        transition: 0.5s;
        &:hover {
          cursor: pointer;
          background-color: $hoverBlue;
        }
        &:focus {
          background-color: $hoverBlue;
          border: 1px solid white;
        }
      }
      .logoSmall {
        height: 16px;
        overflow: hidden;

        img {
          height: 16px;
          width: auto;
        }
      }
    }
    .hidden {
      opacity: 0;
      margin-top: 0;
    }
    .left {
      position: absolute;
      left: 5px;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  width: 100%;
  padding: 15px 0;
  background-color: $lightGrey !important;
  transition: padding 0.6s ease-in-out;
  border-bottom: 2px solid $blue !important;
  a {
    color: white !important;
  }
}

.showMiniLogo {
  position: absolute;
  left: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -17px;
  margin-left: 2vw;
  opacity: 1;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  margin-left: 20px;
  height: 39px;
  div {
    height: 2px;
    width: 20px;
    background-color: white;
    margin: 2px 0;
    transition: transform 0.5s ease-in;
  }
}

.line2 {
  opacity: 1;
  transition: 0.5s ease-in;
}

.hamburger {
  display: none;
  .active.line1 {
    transform: rotate(45deg) translate(5px, 2px);
  }
  .active.line2 {
    transform: translateX(-300%);
    opacity: 0;
  }
  .active.line3 {
    transform: rotate(-45deg) translate(6px, -3px);
  }
}

@media screen and (max-width: 830px) {
  #header nav #navContainer {
    width: 100%;
    justify-content: flex-end;
  }
  #header nav a .headerButton {
    margin-right: 20px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 720px) {
  #header nav #navContainer ul {
    position: absolute;
    height: calc(100vh - 56px);
    flex-direction: column;
    left: 0;
    margin-top: 56px;
    align-content: space-around;
    justify-content: center;
    background-color: $lightGrey;
    width: 50%;
    transform: translatex(-100%);
    min-width: 300px;
    transition: 0.5s ease-in;

    li {
      a {
        color: white;
        font-size: 20px;
        &:hover {
          color: $blue;
        }
      }
      color: white;
      margin: 20px 0;
    }
  }
  #header nav #navContainer ul.active {
    transform: translatex(0);
  }

  #header #logoFull {
    display: none;
  }

  #header nav #navContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    width: 100%;
    padding: 15px 0;
    background-color: #232325 !important;
    -webkit-transition: padding 0.6s ease-in-out;
    transition: padding 0.6s ease-in-out;
    border-bottom: 2px solid #0057a9 !important;
  }

  .showMiniLogo {
    margin-top: 0;
    height: 39px;
    display: flex !important;
    margin-left: 50px !important;
  }
  .hidden {
    opacity: 1 !important;
  }

  a.hidden.left {
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px !important;
  }

  #hero {
    margin-top: 70px;
  }

  .hamburger {
    display: flex;
  }
}
