#servicesContainer {
  background: $lightGrey;
  width: 100%;
  padding: 50px 0;
  #services {
    @include flex(row);
    .box-left,
    .box-right {
      color: white;
      @include flex(column);
      max-width: 400px;
      margin: 0 25px;
    }
    .box-left {
      text-align: center;
      .headingUnderline {
        min-height: 4px;
        min-width: 75px;
        margin: 0 auto;
        background: #0057a9;
        margin-bottom: 30px;
      }
      h4 {
        font-family: $headerFont;
        font-size: 25px;

        font-weight: 700;
      }
      p {
        font-family: $paraFont;
        font-size: 16px;
        padding-bottom: 30px;
      }
      img {
        max-height: 110px;
      }
    }
    .box-right {
      justify-content: center;
      .tickLine {
        @include flex(row);
        align-items: center;
        margin: 8px 0;
        img {
          margin-right: 10px;
        }
        p {
          font-family: $paraFont;
          font-size: 16px;
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width: 980px) {
  #servicesContainer {
    #services {
      flex-direction: column !important;

      .box-right,
      .box-left {
        max-width: unset;
        width: 80vw;
        margin: 20px auto 0 auto;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #servicesContainer #services .box-right {
    margin: 20px auto;
    width: 90vw;
  }
}
