// Globals
$lightGrey: #232325;
$darkGrey: #121213;
$blue: #0057a9;
$hoverBlue: #0099ff;
$greyLine: #5f5e5e52;
$headerFont: 'Oswald', sans-serif;
$paraFont: 'Montserrat', sans-serif;

// Hero
$heroHeader: 4vw;
$heroSub: 2.5vw;
