// Globals
$lightGrey: #494949;
$darkGrey: #282828;
$blue: #0057a9;
$greyLine: #5f5e5e52;
$headerFont: 'Abel', sans-serif;
$paraFont: 'Montserrat', sans-serif;

// Hero
$heroHeader: 60px;
$heroSub: 35px;
