// Globals
$lightGrey: #232325;
$darkGrey: #121213;
$blue: #006eff;
$greyLine: #5f5e5e52;
$headerFont: 'Abel', sans-serif;
$paraFont: 'Montserrat', sans-serif;

// Hero
$heroHeader: 4vw;
$heroSub: 2.5vw;
